norse/scripts/hulu.py
run_info.txt
user_info.txt
*.DS_Store
.AppleDouble
.LSOverride
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
cover/
instance/
.webassets-cache
.pybuilder/
target/
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pyre/
.pytype/
*.pyc
.paket/paket.exe
paket-files/
*.vbw
*.opt
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates